.containerLayout {
  display: grid;
  gap: 16px;
  /* width: 330px; */
  max-width: 1900px;
  left: 0;
  right: 0;
  min-height: 100vh; /* ✅ Забезпечує повну висоту екрану */
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* 
@media (min-width: 768px) {
  .containerLayout {
    width: 750px;
    display: grid;
    gap: 16px;
    height: auto;
    margin: 0 auto;
    padding: 0px;
  }
}

@media (min-width: 1024px) {
  .containerLayout {
    width: 1000px;
  }
}

@media (min-width: 1280px) {
  .containerLayout {
    width: 1260px;
  }
}

@media (min-width: 1440px) {
  .containerLayout {
    width: 1420px;
  }
}

@media (min-width: 1580px) {
  .containerLayout {
    width: 1560px;
  }
}
@media (min-width: 1700px) {
  .containerLayout {
    width: 1680px;
  }
}

@media (min-width: 1920px) {
  .containerLayout {
    width: 1800px;
  }
} */
