/* TruckListImages */

.containerList {
  width: 1400px;
  height: auto;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.list {
  width: 1400px;
  height: 300px;
  margin: 1px;
  margin-left: 10px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.cartItem {
  margin: 0px;
  padding: 0px;
}

.cartContainer {
  width: 335px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.img {
  width: 320px;
  height: 290px;
  padding: 2px;
  margin: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.imgCard {
  width: 320px;
  height: 320px;
  padding: 1px;
  margin: 1px;
}
