.container {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: start;
    align-items: left;
}

.card {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav {
    height: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logo {
    font-weight: 700;
    margin: 0;
}

.link {
    padding: 8px 16px;
    margin: 30px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

a:hover {
    color: #d84343;
}

.link:hover {
    color: #d84343;
}

a:focus {
    color: #d84343;
}

.link:focus {
    color: #d84343;
}

.active {
    color: #d84343;

}

.languageSwitcher {
    display: flex;
    gap: 10px;
    padding: 1px;
    padding-right: 30px;
    margin: 1px;
    margin-right: 170px;
    margin-left: auto;
}

.languageSwitcher button {
    padding: 5px 10px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #0e0d0d;

}

/* Зміна кольору при наведенні */
.languageSwitcher button:hover {
    background-color: white;
    border-color: white;
    color: white;
}

/* Активна кнопка (вибрана мова) */
.activeButton {
    color: #0e0d0d;
    font-weight: bold;
    border-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.activeButton:hover,
.activeButton:focus {
    color: #d84343 !important;
    font-weight: bold;
    border-color: #d84343;
}

.title {
    height: 100%;
    padding: 0px;
    margin: 0px;
    border-radius: 2px;
    margin-left: 2px;
    margin-right: auto;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.iconLogo {
    margin-top: 10px;
    width: 170px;
    height: 22px;
    fill: currentColor !important;
    /* ✅ Перезаписує всі інші стилі */
    transition: fill 0.3s ease;
    /* Плавна зміна кольору */
}

.navLink {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navLink:hover,
.navLink:focus {
    color: #d84343 !important;
    font-weight: bold;
}

.navLink:active {
    color: red;

}

/* Додаємо зміну кольору іконки */
.navLink:hover .iconLogo,
.navLink:focus .iconLogo {
    fill: #d84343;
    /* ✅ Червона іконка при наведенні */
}

.navLink:active .iconLogo {
    fill: red;
    /* ✅ Червона іконка при натисканні */
}