/* .cartBottomLoad {
  position: fixed;
  bottom: 15px;
  
  left: 50%;
  
  transform: translateX(-50%);
 
  z-index: 10;
  
  display: flex;
  justify-content: center;
  align-items: center;
} */

.btnSend {
  width: 160px;
  height: 60px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e44848;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnSend:hover {
  background-color: #d13636;
  /* Зміна кольору при наведенні */
}

.cartBottomLoad {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}
